/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-jun-2021, 18:46:35
    Author     : voice
*/

body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: #262626;
    color: #fff3f3;
}

.div-fullpage {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgba(13, 13, 13, 0.5);
    box-shadow: -1px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #006080;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(13,13,13,0.05) 0%,
    rgba(45,45,45,0.48783263305322133) 35%,
    rgba(13,13,13,0.053658963585434205) 100%);
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link{
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff3f3;
    padding: 10px ;
}

.nav-link:hover {
    color: aqua;
    border-radius: 10px;
}

nav {
    animation-duration: 3s;
    animation-name: nav-bar;
}

@keyframes nav-bar {
    from {
        transform: scale(0.3);
    } to {
        transform: scale(1);
    }
}

.category-separation {
    margin-top: 120px;
}

.category-container {
    display: flex;
    justify-content: center;
    margin-inline: 50px;
}

.title {
    font-size: 25px;
}

hr {
   border: none;
   height: 1px; 
   background-image: linear-gradient(90deg, rgba(13,13,13,0.05) 0%,
   rgba(96, 95, 95, 0.488) 35%,
   rgba(13,13,13,0.053658963585434205) 100%);
}

p {
    animation-duration: 3s;
    animation-name: text-animation;
}

@keyframes text-animation {
    from {
        transform: scale(1.5);
    } to {
        transform: scale(1);
    }
}

hr {
    animation-duration: 4.3s;
    animation-name: hr-animation;
}

@keyframes hr-animation {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #fff3f3;
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.field h5 {
    margin-bottom: 0px;
}

.field input {
    border-radius: 5px;
    
}

.submit {
    background-color: green;
    border-style: none;
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.field-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-consultar {
    background-color: #006080;
    border-style: none;
    color: white;
    border-radius: 5px;
    margin: 6px;
    padding: 3px;
}

.btn-modificar {
    background-color: red;
    border-style: none;
    color: white;
    border-radius: 5px;
    margin: 6px;
    padding: 3px;
}

.btn-eliminar {
    background-color: red;
    border-style: none;
    color: white;
    border-radius: 5px;
    margin: 6px;
    padding: 3px;
}